@charset "UTF-8";

@media screen and (min-width: 769px) {
    #list{
        max-width: 800px;
        margin: auto;
    }
    body{
        background-color: #A9D9D0;
    }
    #form{
        max-width: 70%;
    }
    .style-forms{
        padding: 2rem;
    }
   
}
